body{
margin: 0;
padding: 0;
}
.header{
background-color: #fff;
background: url("../img/Fon.jpg");

}
.header h1{
float: left;
font-family: elephant;
text-align:center;
text-shadow: 1px 1px 1px black; 
color: -moz-ButtonDefault;
margin-top: 5px;
margin-bottom: 5px;
}
#logo {
float: left;
padding: 10px 0;
}
.topmenu{
display: flex;
}
.topmenu a{
flex: 1;
display: block;
text-align: center;
color: rgb(255, 228, 181);
text-shadow: 1px 1px 1px black; 
background: rgb(70,130,180);
text-decoration: none;
padding: 5px 0;
border-right: solid 1px black;
font-size: 16px;
}
.topmenu a:hover {
background: #FFFACD;
color: black;
}
.content{
-moz-column-count: 1;
-moz-column-rule: 1px black solid;
-moz-column-gap: 2em;

-webkit-column-count: 1;
-webkit-column-rule: 1px black solid;
-webkit-column-gap: 2em;

column-count: 1;
column-rule: 1px black solid;
column-gap: 2em;

margin: 20px;
}

.side_menu{
padding: 20px 0;	

}

.footer{
padding: 10px 0;
background: grey;
text-align: center;

}
.btn {
 white-space:normal;
}

@media screen and (max-width:768px){
.header{
	height: 100px;
	}
#logo {
	display: none;
	}
.topmenu {
	flex-direction: column;
	}
}

.modal-window{
position:absolute;
top:250px;
left:50%;
margin-left:-300px;
width:600px;
padding:10px;
background:white;
border:solid 1px black;
box-shadow: 1px 1px 1px black;
border-radius: 5px;
z-index: 9;
}

.modal-close-btn{
position:absolute;
top:1px;
right:1px;
margin:0;
padding:0;
text-decoration:none;
color: red;
font-size: 18px;
}

.modal-close-btn:before{
position:relative;
top:-2px;
content:"Закрыть";
font-size: 12px;
}

#jquery-overlay{
background:black;
opacity:0.7;
position: fixed;
height:100%;
width:100%;
top:0;
left:0;
}